USE [CookFlow]
GO
/****** Objeto: Table [dbo].[CATEGORIAS] Fecha de script: 08/10/2026 12:48:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORIAS](
	[CAid] [int] IDENTITY(1,1) NOT NULL,
	[CAnombre] [varchar](100) NOT NULL,
	[CAdescripcion] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[CAid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[FAVORITOS_RECETAS] Fecha de script: 08/10/2026 12:48:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FAVORITOS_RECETAS](
	[USid] [int] NOT NULL,
	[RECid] [int] NOT NULL,
	[FRfecha] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[USid] ASC,
	[RECid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[INGREDIENTES] Fecha de script: 08/10/2026 12:48:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INGREDIENTES](
	[INid] [int] IDENTITY(1,1) NOT NULL,
	[INnombre] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[INid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[LISTA_COMPRA] Fecha de script: 08/10/2026 12:48:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LISTA_COMPRA](
	[LCid] [int] IDENTITY(1,1) NOT NULL,
	[USid] [int] NOT NULL,
	[LCfecha] [date] NULL,
	[LCpax] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[LCid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[LISTA_COMPRA_ITEMS] Fecha de script: 08/10/2026 12:48:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LISTA_COMPRA_ITEMS](
	[LCid] [int] NOT NULL,
	[INid] [int] NOT NULL,
	[LCIcantidad] [decimal](6, 2) NULL,
	[LCIunidad] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[LCid] ASC,
	[INid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[RECETA_INGREDIENTES] Fecha de script: 08/10/2026 12:48:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RECETA_INGREDIENTES](
	[RECid] [int] NOT NULL,
	[INid] [int] NOT NULL,
	[RIcantidad] [decimal](6, 2) NULL,
	[RIunidad] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[RECid] ASC,
	[INid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[RECETAS] Fecha de script: 08/10/2026 12:48:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RECETAS](
	[RECid] [int] IDENTITY(1,1) NOT NULL,
	[RECtitulo] [varchar](150) NOT NULL,
	[RECdescripcion] [text] NULL,
	[RECimagen] [varchar](255) NULL,
	[RECtiempo] [int] NULL,
	[RECdificultad] [varchar](50) NULL,
	[USid] [int] NOT NULL,
	[CAid] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RECid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[RESTAURANTES] Fecha de script: 08/10/2026 12:48:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RESTAURANTES](
	[RESid] [int] IDENTITY(1,1) NOT NULL,
	[RESnombre] [varchar](100) NOT NULL,
	[RESdireccion] [varchar](255) NULL,
	[REStipo] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[RESid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[RESTAURANTES_VISITADOS] Fecha de script: 08/10/2026 12:48:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RESTAURANTES_VISITADOS](
	[USid] [int] NOT NULL,
	[RESid] [int] NOT NULL,
	[RVpuntuacion] [int] NULL,
	[RVcomentario] [varchar](500) NULL,
	[RVfecha] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[USid] ASC,
	[RESid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[USUARIOS] Fecha de script: 08/10/2026 12:48:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIOS](
	[USid] [int] IDENTITY(1,1) NOT NULL,
	[USnombre] [varchar](100) NOT NULL,
	[USemail] [varchar](100) NOT NULL,
	[USpassword] [varchar](255) NOT NULL,
	[USfechaalta] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[USid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[USemail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FAVORITOS_RECETAS] ADD  DEFAULT (getdate()) FOR [FRfecha]
GO
ALTER TABLE [dbo].[LISTA_COMPRA] ADD  DEFAULT (getdate()) FOR [LCfecha]
GO
ALTER TABLE [dbo].[RESTAURANTES_VISITADOS] ADD  DEFAULT (getdate()) FOR [RVfecha]
GO
ALTER TABLE [dbo].[USUARIOS] ADD  DEFAULT (getdate()) FOR [USfechaalta]
GO
ALTER TABLE [dbo].[FAVORITOS_RECETAS]  WITH CHECK ADD FOREIGN KEY([USid])
REFERENCES [dbo].[USUARIOS] ([USid])
GO
ALTER TABLE [dbo].[FAVORITOS_RECETAS]  WITH CHECK ADD FOREIGN KEY([RECid])
REFERENCES [dbo].[RECETAS] ([RECid])
GO
ALTER TABLE [dbo].[LISTA_COMPRA]  WITH CHECK ADD FOREIGN KEY([USid])
REFERENCES [dbo].[USUARIOS] ([USid])
GO
ALTER TABLE [dbo].[LISTA_COMPRA_ITEMS]  WITH CHECK ADD FOREIGN KEY([INid])
REFERENCES [dbo].[INGREDIENTES] ([INid])
GO
ALTER TABLE [dbo].[LISTA_COMPRA_ITEMS]  WITH CHECK ADD FOREIGN KEY([LCid])
REFERENCES [dbo].[LISTA_COMPRA] ([LCid])
GO
ALTER TABLE [dbo].[RECETA_INGREDIENTES]  WITH CHECK ADD FOREIGN KEY([RECid])
REFERENCES [dbo].[RECETAS] ([RECid])
GO
ALTER TABLE [dbo].[RECETA_INGREDIENTES]  WITH CHECK ADD FOREIGN KEY([INid])
REFERENCES [dbo].[INGREDIENTES] ([INid])
GO
ALTER TABLE [dbo].[RECETAS]  WITH CHECK ADD FOREIGN KEY([CAid])
REFERENCES [dbo].[CATEGORIAS] ([CAid])
GO
ALTER TABLE [dbo].[RECETAS]  WITH CHECK ADD FOREIGN KEY([USid])
REFERENCES [dbo].[USUARIOS] ([USid])
GO
ALTER TABLE [dbo].[RESTAURANTES_VISITADOS]  WITH CHECK ADD FOREIGN KEY([RESid])
REFERENCES [dbo].[RESTAURANTES] ([RESid])
GO
ALTER TABLE [dbo].[RESTAURANTES_VISITADOS]  WITH CHECK ADD FOREIGN KEY([USid])
REFERENCES [dbo].[USUARIOS] ([USid])
GO
ALTER TABLE [dbo].[RESTAURANTES_VISITADOS]  WITH CHECK ADD CHECK  (([RVpuntuacion]>=(1) AND [RVpuntuacion]<=(5)))
GO
