USE [master]
GO
/****** Objeto: Database [CookFlow] Fecha de script: 08/10/2026 12:42:27 ******/
CREATE DATABASE [CookFlow]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CookFlow', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS01\MSSQL\DATA\CookFlow.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CookFlow_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS01\MSSQL\DATA\CookFlow_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CookFlow].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CookFlow]
GO
/****** Objeto: User [cookflow_app] Fecha de script: 08/10/2026 12:42:28 ******/
CREATE USER [cookflow_app] FOR LOGIN [cookflow_app] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_datareader] ADD MEMBER [cookflow_app]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [cookflow_app]
GO
/****** Objeto: Table [dbo].[INGREDIENTES] Fecha de script: 08/10/2026 12:42:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INGREDIENTES](
	[INid] [int] IDENTITY(1,1) NOT NULL,
	[INnombre] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[INid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[RECETAS] Fecha de script: 08/10/2026 12:42:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RECETAS](
	[RECid] [int] IDENTITY(1,1) NOT NULL,
	[RECtitulo] [varchar](150) NOT NULL,
	[RECdescripcion] [text] NULL,
	[RECimagen] [varchar](255) NULL,
	[RECtiempo] [int] NULL,
	[RECdificultad] [varchar](50) NULL,
	[USid] [int] NOT NULL,
	[CAid] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RECid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[RECETA_INGREDIENTES] Fecha de script: 08/10/2026 12:42:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RECETA_INGREDIENTES](
	[RECid] [int] NOT NULL,
	[INid] [int] NOT NULL,
	[RIcantidad] [decimal](6, 2) NULL,
	[RIunidad] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[RECid] ASC,
	[INid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: View [dbo].[V_RecetasIngredientes] Fecha de script: 08/10/2026 12:42:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_RecetasIngredientes] AS
	SELECT 
		R.RECid,
		R.RECtitulo,
		I.INnombre,
		RI.RIcantidad,
		RI.RIunidad
	FROM RECETAS R
	JOIN RECETA_INGREDIENTES RI ON R.RECid = RI.RECid
	JOIN INGREDIENTES I ON I.INid = RI.INid;
GO
/****** Objeto: Table [dbo].[RESTAURANTES] Fecha de script: 08/10/2026 12:42:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RESTAURANTES](
	[RESid] [int] IDENTITY(1,1) NOT NULL,
	[RESnombre] [varchar](100) NOT NULL,
	[RESdireccion] [varchar](255) NULL,
	[REStipo] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[RESid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[RESTAURANTES_VISITADOS] Fecha de script: 08/10/2026 12:42:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RESTAURANTES_VISITADOS](
	[USid] [int] NOT NULL,
	[RESid] [int] NOT NULL,
	[RVpuntuacion] [int] NULL,
	[RVcomentario] [varchar](500) NULL,
	[RVfecha] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[USid] ASC,
	[RESid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[USUARIOS] Fecha de script: 08/10/2026 12:42:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIOS](
	[USid] [int] IDENTITY(1,1) NOT NULL,
	[USnombre] [varchar](100) NOT NULL,
	[USemail] [varchar](100) NOT NULL,
	[USpassword] [varchar](255) NOT NULL,
	[USfechaalta] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[USid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[USemail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: View [dbo].[V_RestaurantesVisitas] Fecha de script: 08/10/2026 12:42:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_RestaurantesVisitas] AS
SELECT 
    R.RESid,
    R.RESnombre,
    U.USnombre,
    RV.RVpuntuacion,
    RV.RVcomentario,
    RV.RVfecha
FROM RESTAURANTES R
JOIN RESTAURANTES_VISITADOS RV ON RV.RESid = R.RESid
JOIN USUARIOS U ON U.USid = RV.USid;
GO
/****** Objeto: View [dbo].[V_RestaurantesRanking] Fecha de script: 08/10/2026 12:42:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_RestaurantesRanking] AS
SELECT 
    R.RESid,
    R.RESnombre,
    AVG(RV.RVpuntuacion) AS MediaPuntuacion
FROM RESTAURANTES R
JOIN RESTAURANTES_VISITADOS RV ON RV.RESid = R.RESid
GROUP BY R.RESid, R.RESnombre;
GO
/****** Objeto: Table [dbo].[CATEGORIAS] Fecha de script: 08/10/2026 12:42:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORIAS](
	[CAid] [int] IDENTITY(1,1) NOT NULL,
	[CAnombre] [varchar](100) NOT NULL,
	[CAdescripcion] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[CAid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: View [dbo].[V_RecetasPorCategoria] Fecha de script: 08/10/2026 12:42:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_RecetasPorCategoria] AS
SELECT 
    C.CAid,
    C.CAnombre,
    R.RECid,
    R.RECtitulo,
    R.RECdificultad,
    R.RECtiempo
FROM CATEGORIAS C
JOIN RECETAS R ON R.CAid = C.CAid;
GO
/****** Objeto: Table [dbo].[FAVORITOS_RECETAS] Fecha de script: 08/10/2026 12:42:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FAVORITOS_RECETAS](
	[USid] [int] NOT NULL,
	[RECid] [int] NOT NULL,
	[FRfecha] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[USid] ASC,
	[RECid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[LISTA_COMPRA] Fecha de script: 08/10/2026 12:42:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LISTA_COMPRA](
	[LCid] [int] IDENTITY(1,1) NOT NULL,
	[USid] [int] NOT NULL,
	[LCfecha] [date] NULL,
	[LCpax] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[LCid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[LISTA_COMPRA_ITEMS] Fecha de script: 08/10/2026 12:42:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LISTA_COMPRA_ITEMS](
	[LCid] [int] NOT NULL,
	[INid] [int] NOT NULL,
	[LCIcantidad] [decimal](6, 2) NULL,
	[LCIunidad] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[LCid] ASC,
	[INid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FAVORITOS_RECETAS] ADD  DEFAULT (getdate()) FOR [FRfecha]
GO
ALTER TABLE [dbo].[LISTA_COMPRA] ADD  DEFAULT (getdate()) FOR [LCfecha]
GO
ALTER TABLE [dbo].[RESTAURANTES_VISITADOS] ADD  DEFAULT (getdate()) FOR [RVfecha]
GO
ALTER TABLE [dbo].[USUARIOS] ADD  DEFAULT (getdate()) FOR [USfechaalta]
GO
ALTER TABLE [dbo].[FAVORITOS_RECETAS]  WITH CHECK ADD FOREIGN KEY([USid])
REFERENCES [dbo].[USUARIOS] ([USid])
GO
ALTER TABLE [dbo].[FAVORITOS_RECETAS]  WITH CHECK ADD FOREIGN KEY([RECid])
REFERENCES [dbo].[RECETAS] ([RECid])
GO
ALTER TABLE [dbo].[LISTA_COMPRA]  WITH CHECK ADD FOREIGN KEY([USid])
REFERENCES [dbo].[USUARIOS] ([USid])
GO
ALTER TABLE [dbo].[LISTA_COMPRA_ITEMS]  WITH CHECK ADD FOREIGN KEY([INid])
REFERENCES [dbo].[INGREDIENTES] ([INid])
GO
ALTER TABLE [dbo].[LISTA_COMPRA_ITEMS]  WITH CHECK ADD FOREIGN KEY([LCid])
REFERENCES [dbo].[LISTA_COMPRA] ([LCid])
GO
ALTER TABLE [dbo].[RECETA_INGREDIENTES]  WITH CHECK ADD FOREIGN KEY([RECid])
REFERENCES [dbo].[RECETAS] ([RECid])
GO
ALTER TABLE [dbo].[RECETA_INGREDIENTES]  WITH CHECK ADD FOREIGN KEY([INid])
REFERENCES [dbo].[INGREDIENTES] ([INid])
GO
ALTER TABLE [dbo].[RECETAS]  WITH CHECK ADD FOREIGN KEY([CAid])
REFERENCES [dbo].[CATEGORIAS] ([CAid])
GO
ALTER TABLE [dbo].[RECETAS]  WITH CHECK ADD FOREIGN KEY([USid])
REFERENCES [dbo].[USUARIOS] ([USid])
GO
ALTER TABLE [dbo].[RESTAURANTES_VISITADOS]  WITH CHECK ADD FOREIGN KEY([RESid])
REFERENCES [dbo].[RESTAURANTES] ([RESid])
GO
ALTER TABLE [dbo].[RESTAURANTES_VISITADOS]  WITH CHECK ADD FOREIGN KEY([USid])
REFERENCES [dbo].[USUARIOS] ([USid])
GO
ALTER TABLE [dbo].[RESTAURANTES_VISITADOS]  WITH CHECK ADD CHECK  (([RVpuntuacion]>=(1) AND [RVpuntuacion]<=(5)))
GO
/****** Objeto: StoredProcedure [dbo].[SP_DeleteCategoria] Fecha de script: 08/10/2026 12:42:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_DeleteCategoria] @CAid INT AS
BEGIN
    SET NOCOUNT ON;
    DELETE FROM CATEGORIAS WHERE CAid = @CAid;   -- falla (547) si hay recetas con esa categoría
    SELECT @@ROWCOUNT AS filas;
END
GO
/****** Objeto: StoredProcedure [dbo].[SP_DeleteIngrediente] Fecha de script: 08/10/2026 12:42:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_DeleteIngrediente] @INid INT AS
BEGIN
    SET NOCOUNT ON;
    DELETE FROM INGREDIENTES WHERE INid = @INid;  -- falla (547) si está en recetas o listas
    SELECT @@ROWCOUNT AS filas;
END
GO
/****** Objeto: StoredProcedure [dbo].[SP_DeleteIngredienteReceta] Fecha de script: 08/10/2026 12:42:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[SP_DeleteIngredienteReceta] @RECid INT, @INid INT
AS BEGIN
    SET NOCOUNT ON;
    DELETE FROM RECETA_INGREDIENTES WHERE RECid = @RECid AND INid = @INid;
    SELECT @@ROWCOUNT AS filas;
END
GO
/****** Objeto: StoredProcedure [dbo].[SP_DeleteReceta] Fecha de script: 08/10/2026 12:42:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[SP_DeleteReceta] @RECid INT
AS BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;
        DELETE FROM FAVORITOS_RECETAS    WHERE RECid = @RECid;
        DELETE FROM RECETA_INGREDIENTES  WHERE RECid = @RECid;
        DELETE FROM RECETAS              WHERE RECid = @RECid;
        DECLARE @filas INT = @@ROWCOUNT;
        COMMIT TRANSACTION;
        SELECT @filas AS filas;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END
GO
/****** Objeto: StoredProcedure [dbo].[SP_DeleteRestaurante] Fecha de script: 08/10/2026 12:42:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_DeleteRestaurante] @RESid INT AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;
        DELETE FROM RESTAURANTES_VISITADOS WHERE RESid = @RESid;
        DELETE FROM RESTAURANTES WHERE RESid = @RESid;
        DECLARE @filas INT = @@ROWCOUNT;
        COMMIT TRANSACTION;
        SELECT @filas AS filas;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END
GO
/****** Objeto: StoredProcedure [dbo].[SP_DeleteUsuario] Fecha de script: 08/10/2026 12:42:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_DeleteUsuario] @USid INT AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;
        DELETE FROM FAVORITOS_RECETAS WHERE USid = @USid;
        DELETE FROM RESTAURANTES_VISITADOS WHERE USid = @USid;
        DELETE FROM LISTA_COMPRA_ITEMS WHERE LCid IN (SELECT LCid FROM LISTA_COMPRA WHERE USid = @USid);
        DELETE FROM LISTA_COMPRA WHERE USid = @USid;
        -- Sus recetas (y lo que cuelga de ellas)
        DELETE FROM FAVORITOS_RECETAS   WHERE RECid IN (SELECT RECid FROM RECETAS WHERE USid = @USid);
        DELETE FROM RECETA_INGREDIENTES WHERE RECid IN (SELECT RECid FROM RECETAS WHERE USid = @USid);
        DELETE FROM RECETAS WHERE USid = @USid;
        DELETE FROM USUARIOS WHERE USid = @USid;
        DECLARE @filas INT = @@ROWCOUNT;
        COMMIT TRANSACTION;
        SELECT @filas AS filas;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END
GO
/****** Objeto: StoredProcedure [dbo].[SP_DeleteVisita] Fecha de script: 08/10/2026 12:42:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_DeleteVisita] @USid INT, @RESid INT AS
BEGIN
    SET NOCOUNT ON;
    DELETE FROM RESTAURANTES_VISITADOS WHERE USid = @USid AND RESid = @RESid;
    SELECT @@ROWCOUNT AS filas;
END
GO
/****** Objeto: StoredProcedure [dbo].[SP_GetCategoriaById] Fecha de script: 08/10/2026 12:42:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_GetCategoriaById] @CAid INT AS
BEGIN SET NOCOUNT ON; SELECT * FROM CATEGORIAS WHERE CAid = @CAid; END
GO
/****** Objeto: StoredProcedure [dbo].[SP_GetCategorias] Fecha de script: 08/10/2026 12:42:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* ===== CATEGORIAS ===== */
CREATE   PROCEDURE [dbo].[SP_GetCategorias] AS
BEGIN SET NOCOUNT ON; SELECT * FROM CATEGORIAS ORDER BY CAnombre; END
GO
/****** Objeto: StoredProcedure [dbo].[SP_GetIngredienteById] Fecha de script: 08/10/2026 12:42:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_GetIngredienteById] @INid INT AS
BEGIN SET NOCOUNT ON; SELECT * FROM INGREDIENTES WHERE INid = @INid; END
GO
/****** Objeto: StoredProcedure [dbo].[SP_GetIngredientes] Fecha de script: 08/10/2026 12:42:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* ===== INGREDIENTES ===== */
CREATE   PROCEDURE [dbo].[SP_GetIngredientes] @buscar VARCHAR(100) = NULL AS
BEGIN
    SET NOCOUNT ON;
    SELECT * FROM INGREDIENTES
    WHERE @buscar IS NULL OR INnombre LIKE '%' + @buscar + '%'
    ORDER BY INnombre;
END
GO
/****** Objeto: StoredProcedure [dbo].[SP_GetIngredientesReceta] Fecha de script: 08/10/2026 12:42:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetIngredientesReceta]
	@RECid INT
AS
BEGIN
	SELECT I.INnombre, RI.RIcantidad, RI.RIunidad
	FROM RECETA_INGREDIENTES AS RI
	JOIN INGREDIENTES I ON I.INid = RI.INid
	WHERE RI.RECid = @RECid
END;
GO
/****** Objeto: StoredProcedure [dbo].[SP_GetRankingRestaurantes] Fecha de script: 08/10/2026 12:42:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetRankingRestaurantes]
AS
BEGIN
	SELECT R.RESid, R.RESnombre, AVG(RV.RVpuntuacion) AS MediaPuntuacion
	FROM RESTAURANTES AS R 
	JOIN RESTAURANTES_VISITADOS RV ON RV.RESid = R.RESid
	GROUP BY R.RESid, R.RESnombre
	ORDER BY MediaPuntuacion DESC;
END;
GO
/****** Objeto: StoredProcedure [dbo].[SP_GetRecetaById] Fecha de script: 08/10/2026 12:42:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* ===== RECETAS (corregido) ===== */
CREATE   PROCEDURE [dbo].[SP_GetRecetaById] @RECid INT
AS BEGIN
    SET NOCOUNT ON;
    SELECT * FROM RECETAS WHERE RECid = @RECid;
END
GO
/****** Objeto: StoredProcedure [dbo].[SP_GetREcetas] Fecha de script: 08/10/2026 12:42:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetREcetas]
AS
BEGIN
    SELECT * FROM RECETAS;
END;
GO
/****** Objeto: StoredProcedure [dbo].[SP_GetRecetasPorCategoria] Fecha de script: 08/10/2026 12:42:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetRecetasPorCategoria]
	@CAid INT
AS
BEGIN
	SELECT RECid, RECtitulo, RECdificultad
	FROM RECETAS
	WHERE CAid = @CAid;
END;
GO
/****** Objeto: StoredProcedure [dbo].[SP_GetRestauranteById] Fecha de script: 08/10/2026 12:42:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_GetRestauranteById] @RESid INT AS
BEGIN SET NOCOUNT ON; SELECT * FROM RESTAURANTES WHERE RESid = @RESid; END
GO
/****** Objeto: StoredProcedure [dbo].[SP_GetRestaurantes] Fecha de script: 08/10/2026 12:42:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_GetRestaurantes] AS
BEGIN SET NOCOUNT ON; SELECT * FROM RESTAURANTES ORDER BY RESnombre; END
GO
/****** Objeto: StoredProcedure [dbo].[SP_GetUsuarioByEmail] Fecha de script: 08/10/2026 12:42:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_GetUsuarioByEmail] @email VARCHAR(100) AS
BEGIN SET NOCOUNT ON; SELECT * FROM USUARIOS WHERE USemail = @email; END
GO
/****** Objeto: StoredProcedure [dbo].[SP_GetUsuarioById] Fecha de script: 08/10/2026 12:42:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_GetUsuarioById] @USid INT AS
BEGIN SET NOCOUNT ON; SELECT USid, USnombre, USemail, USfechaalta FROM USUARIOS WHERE USid = @USid; END
GO
/****** Objeto: StoredProcedure [dbo].[SP_GetUsuarios] Fecha de script: 08/10/2026 12:42:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* ===== USUARIOS (nunca se devuelve USpassword salvo en GetByEmail para el login) ===== */
CREATE   PROCEDURE [dbo].[SP_GetUsuarios] AS
BEGIN SET NOCOUNT ON; SELECT USid, USnombre, USemail, USfechaalta FROM USUARIOS; END
GO
/****** Objeto: StoredProcedure [dbo].[SP_GetVisitasUsuario] Fecha de script: 08/10/2026 12:42:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetVisitasUsuario]
	@USid INT
AS
BEGIN
	SELECT R.RESnombre, RV.RVpuntuacion, RV.RVcomentario, RV.RVfecha
	FROM RESTAURANTES_VISITADOS AS RV
	JOIN RESTAURANTES AS R ON R.RESid = RV.RESid
	WHERE RV.USid = @USid;
END;
GO
/****** Objeto: StoredProcedure [dbo].[SP_InsertCategoria] Fecha de script: 08/10/2026 12:42:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_InsertCategoria] @nombre VARCHAR(100), @descripcion VARCHAR(255) = NULL AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO CATEGORIAS (CAnombre, CAdescripcion) VALUES (@nombre, @descripcion);
    SELECT SCOPE_IDENTITY() AS id;
END
GO
/****** Objeto: StoredProcedure [dbo].[SP_InsertIngrediente] Fecha de script: 08/10/2026 12:42:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_InsertIngrediente] @nombre VARCHAR(100) AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO INGREDIENTES (INnombre) VALUES (@nombre);
    SELECT SCOPE_IDENTITY() AS id;
END
GO
/****** Objeto: StoredProcedure [dbo].[SP_InsertIngredienteReceta] Fecha de script: 08/10/2026 12:42:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_InsertIngredienteReceta]
	@RECid INT,
	@INid INT,
	@cantidad DECIMAL(6,2),
	@unidad VARCHAR(50)
AS
BEGIN
	INSERT INTO RECETA_INGREDIENTES(RECid, INid, RIcantidad, RIunidad)
	VALUES ( @RECid, @INid, @cantidad, @unidad);
END;
GO
/****** Objeto: StoredProcedure [dbo].[SP_InsertReceta] Fecha de script: 08/10/2026 12:42:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_InsertReceta]
	@titulo VARCHAR(150),
	@descripcion TEXT,
	@imagen VARCHAR(255),
	@tiempo INT,
	@dificultad VARCHAR(50),
	@USid INT,
	@CAid INT
AS
BEGIN
	INSERT INTO RECETAS (RECtitulo, RECdescripcion, RECimagen, RECtiempo, RECdificultad, USid, CAid)
	VALUES (@titulo, @descripcion, @imagen, @tiempo, @dificultad, @USid, @CAid);
END;
GO
/****** Objeto: StoredProcedure [dbo].[SP_InsertRestaurante] Fecha de script: 08/10/2026 12:42:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* ===== RESTAURANTES =====
   Tu SP_InsertRestaurante tenía parámetros más grandes que las columnas
   (200/300 vs 100/255). Lo redefino con los tamaños reales y que devuelva el id. */
CREATE   PROCEDURE [dbo].[SP_InsertRestaurante]
    @nombre VARCHAR(100), @direccion VARCHAR(255) = NULL, @tipo VARCHAR(100) = NULL AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO RESTAURANTES (RESnombre, RESdireccion, REStipo) VALUES (@nombre, @direccion, @tipo);
    SELECT SCOPE_IDENTITY() AS id;
END
GO
/****** Objeto: StoredProcedure [dbo].[SP_InsertUsuario] Fecha de script: 08/10/2026 12:42:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_InsertUsuario]
	@nombre VARCHAR(100),
	@email VARCHAR(150),
	@password VARCHAR(100)

AS
BEGIN 
	INSERT INTO USUARIOS (USnombre, USemail, USpassword, USfechaalta)
	VALUES (@nombre, @email, @password, CONVERT(date, GETDATE()));
END;
GO
/****** Objeto: StoredProcedure [dbo].[SP_InsertVisita] Fecha de script: 08/10/2026 12:42:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_InsertVisita]
	@USid INT,
	@RESid INT,
	@puntuacion INT,
	@comentarios VARCHAR(500)
AS
BEGIN 
	INSERT INTO RESTAURANTES_VISITADOS(USid, RESid, RVpuntuacion, RVcomentario, RVfecha)
	VALUES (@USid, @RESid, @puntuacion, @comentarios, CONVERT(date, GETDATE()));
END;
GO
/****** Objeto: StoredProcedure [dbo].[SP_UpdateCategoria] Fecha de script: 08/10/2026 12:42:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_UpdateCategoria] @CAid INT, @nombre VARCHAR(100), @descripcion VARCHAR(255) = NULL AS
BEGIN
    SET NOCOUNT ON;
    UPDATE CATEGORIAS SET CAnombre = @nombre, CAdescripcion = @descripcion WHERE CAid = @CAid;
    SELECT @@ROWCOUNT AS filas;
END
GO
/****** Objeto: StoredProcedure [dbo].[SP_UpdateIngrediente] Fecha de script: 08/10/2026 12:42:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_UpdateIngrediente] @INid INT, @nombre VARCHAR(100) AS
BEGIN
    SET NOCOUNT ON;
    UPDATE INGREDIENTES SET INnombre = @nombre WHERE INid = @INid;
    SELECT @@ROWCOUNT AS filas;
END
GO
/****** Objeto: StoredProcedure [dbo].[SP_UpdateIngredienteReceta] Fecha de script: 08/10/2026 12:42:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[SP_UpdateIngredienteReceta]
    @RECid INT, @INid INT, @cantidad DECIMAL(10,2), @unidad VARCHAR(50)
AS BEGIN
    SET NOCOUNT ON;
    UPDATE RECETA_INGREDIENTES SET RIcantidad = @cantidad, RIunidad = @unidad
    WHERE RECid = @RECid AND INid = @INid;
    SELECT @@ROWCOUNT AS filas;
END
GO
/****** Objeto: StoredProcedure [dbo].[SP_UpdateReceta] Fecha de script: 08/10/2026 12:42:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[SP_UpdateReceta]
    @RECid INT, @titulo VARCHAR(150), @descripcion VARCHAR(MAX),
    @imagen VARCHAR(255), @tiempo INT, @dificultad VARCHAR(50), @CAid INT
AS BEGIN
    SET NOCOUNT ON;
    UPDATE RECETAS
    SET RECtitulo = @titulo, RECdescripcion = @descripcion, RECimagen = @imagen,
        RECtiempo = @tiempo, RECdificultad = @dificultad, CAid = @CAid
    WHERE RECid = @RECid;
    SELECT @@ROWCOUNT AS filas;
END
GO
/****** Objeto: StoredProcedure [dbo].[SP_UpdateRestaurante] Fecha de script: 08/10/2026 12:42:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_UpdateRestaurante]
    @RESid INT, @nombre VARCHAR(100), @direccion VARCHAR(255) = NULL, @tipo VARCHAR(100) = NULL AS
BEGIN
    SET NOCOUNT ON;
    UPDATE RESTAURANTES SET RESnombre = @nombre, RESdireccion = @direccion, REStipo = @tipo
    WHERE RESid = @RESid;
    SELECT @@ROWCOUNT AS filas;
END
GO
/****** Objeto: StoredProcedure [dbo].[SP_UpdateUsuario] Fecha de script: 08/10/2026 12:42:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_UpdateUsuario] @USid INT, @nombre VARCHAR(100), @email VARCHAR(100) AS
BEGIN
    SET NOCOUNT ON;
    UPDATE USUARIOS SET USnombre = @nombre, USemail = @email WHERE USid = @USid;
    SELECT @@ROWCOUNT AS filas;
END
GO
/****** Objeto: StoredProcedure [dbo].[SP_UpdateVisita] Fecha de script: 08/10/2026 12:42:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* ===== VISITAS (asumo clave USid + RESid) ===== */
CREATE   PROCEDURE [dbo].[SP_UpdateVisita]
    @USid INT, @RESid INT, @puntuacion INT = NULL, @comentario VARCHAR(500) = NULL AS
BEGIN
    SET NOCOUNT ON;
    UPDATE RESTAURANTES_VISITADOS SET RVpuntuacion = @puntuacion, RVcomentario = @comentario
    WHERE USid = @USid AND RESid = @RESid;
    SELECT @@ROWCOUNT AS filas;
END
GO
USE [master]
GO
