USE [CookFlow]
GO
/****** Objeto: StoredProcedure [dbo].[SP_DeleteCategoria] Fecha de script: 09/10/2026 9:24:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_DeleteCategoria] @CAid INT AS
BEGIN
    SET NOCOUNT ON;
    DELETE FROM CATEGORIAS WHERE CAid = @CAid;   -- falla (547) si hay recetas con esa categoría
    SELECT @@ROWCOUNT AS filas;
END
GO
/****** Objeto: StoredProcedure [dbo].[SP_DeleteFavorito] Fecha de script: 09/10/2026 9:24:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[SP_DeleteFavorito] @USid INT, @RECid INT AS
BEGIN
    SET NOCOUNT ON;
    DELETE FROM FAVORITOS_RECETAS WHERE USid = @USid AND RECid = @RECid;
    SELECT @@ROWCOUNT AS filas;
END
GO
/****** Objeto: StoredProcedure [dbo].[SP_DeleteIngrediente] Fecha de script: 09/10/2026 9:24:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_DeleteIngrediente] @INid INT AS
BEGIN
    SET NOCOUNT ON;
    DELETE FROM INGREDIENTES WHERE INid = @INid;  -- falla (547) si está en recetas o listas
    SELECT @@ROWCOUNT AS filas;
END
GO
/****** Objeto: StoredProcedure [dbo].[SP_DeleteIngredienteReceta] Fecha de script: 09/10/2026 9:24:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[SP_DeleteIngredienteReceta] @RECid INT, @INid INT
AS BEGIN
    SET NOCOUNT ON;
    DELETE FROM RECETA_INGREDIENTES WHERE RECid = @RECid AND INid = @INid;
    SELECT @@ROWCOUNT AS filas;
END
GO
/****** Objeto: StoredProcedure [dbo].[SP_DeleteReceta] Fecha de script: 09/10/2026 9:24:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[SP_DeleteReceta] @RECid INT
AS BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;
        DELETE FROM FAVORITOS_RECETAS    WHERE RECid = @RECid;
        DELETE FROM RECETA_INGREDIENTES  WHERE RECid = @RECid;
        DELETE FROM RECETAS              WHERE RECid = @RECid;
        DECLARE @filas INT = @@ROWCOUNT;
        COMMIT TRANSACTION;
        SELECT @filas AS filas;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END
GO
/****** Objeto: StoredProcedure [dbo].[SP_DeleteRestaurante] Fecha de script: 09/10/2026 9:24:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_DeleteRestaurante] @RESid INT AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;
        DELETE FROM RESTAURANTES_VISITADOS WHERE RESid = @RESid;
        DELETE FROM RESTAURANTES WHERE RESid = @RESid;
        DECLARE @filas INT = @@ROWCOUNT;
        COMMIT TRANSACTION;
        SELECT @filas AS filas;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END
GO
/****** Objeto: StoredProcedure [dbo].[SP_DeleteUsuario] Fecha de script: 09/10/2026 9:24:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_DeleteUsuario] @USid INT AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;
        DELETE FROM FAVORITOS_RECETAS WHERE USid = @USid;
        DELETE FROM RESTAURANTES_VISITADOS WHERE USid = @USid;
        DELETE FROM LISTA_COMPRA_ITEMS WHERE LCid IN (SELECT LCid FROM LISTA_COMPRA WHERE USid = @USid);
        DELETE FROM LISTA_COMPRA WHERE USid = @USid;
        -- Sus recetas (y lo que cuelga de ellas)
        DELETE FROM FAVORITOS_RECETAS   WHERE RECid IN (SELECT RECid FROM RECETAS WHERE USid = @USid);
        DELETE FROM RECETA_INGREDIENTES WHERE RECid IN (SELECT RECid FROM RECETAS WHERE USid = @USid);
        DELETE FROM RECETAS WHERE USid = @USid;
        DELETE FROM USUARIOS WHERE USid = @USid;
        DECLARE @filas INT = @@ROWCOUNT;
        COMMIT TRANSACTION;
        SELECT @filas AS filas;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END
GO
/****** Objeto: StoredProcedure [dbo].[SP_DeleteVisita] Fecha de script: 09/10/2026 9:24:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_DeleteVisita] @USid INT, @RESid INT AS
BEGIN
    SET NOCOUNT ON;
    DELETE FROM RESTAURANTES_VISITADOS WHERE USid = @USid AND RESid = @RESid;
    SELECT @@ROWCOUNT AS filas;
END
GO
/****** Objeto: StoredProcedure [dbo].[SP_GetCategoriaById] Fecha de script: 09/10/2026 9:24:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_GetCategoriaById] @CAid INT AS
BEGIN SET NOCOUNT ON; SELECT * FROM CATEGORIAS WHERE CAid = @CAid; END
GO
/****** Objeto: StoredProcedure [dbo].[SP_GetCategorias] Fecha de script: 09/10/2026 9:24:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* ===== CATEGORIAS ===== */
CREATE   PROCEDURE [dbo].[SP_GetCategorias] AS
BEGIN SET NOCOUNT ON; SELECT * FROM CATEGORIAS ORDER BY CAnombre; END
GO
/****** Objeto: StoredProcedure [dbo].[SP_GetFavoritosUsuario] Fecha de script: 09/10/2026 9:24:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [dbo].[SP_GetFavoritosUsuario] @USid INT AS
BEGIN
    SET NOCOUNT ON;
    SELECT r.RECid, r.RECtitulo, r.RECdescripcion, r.RECimagen,
           r.RECtiempo, r.RECdificultad, r.CAid, f.FRfecha
    FROM FAVORITOS_RECETAS f
    JOIN RECETAS r ON r.RECid = f.RECid
    WHERE f.USid = @USid
    ORDER BY f.FRfecha DESC;
END
GO
/****** Objeto: StoredProcedure [dbo].[SP_GetIngredienteById] Fecha de script: 09/10/2026 9:24:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_GetIngredienteById] @INid INT AS
BEGIN SET NOCOUNT ON; SELECT * FROM INGREDIENTES WHERE INid = @INid; END
GO
/****** Objeto: StoredProcedure [dbo].[SP_GetIngredientes] Fecha de script: 09/10/2026 9:24:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* ===== INGREDIENTES ===== */
CREATE   PROCEDURE [dbo].[SP_GetIngredientes] @buscar VARCHAR(100) = NULL AS
BEGIN
    SET NOCOUNT ON;
    SELECT * FROM INGREDIENTES
    WHERE @buscar IS NULL OR INnombre LIKE '%' + @buscar + '%'
    ORDER BY INnombre;
END
GO
/****** Objeto: StoredProcedure [dbo].[SP_GetIngredientesReceta] Fecha de script: 09/10/2026 9:24:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetIngredientesReceta]
	@RECid INT
AS
BEGIN
	SELECT I.INnombre, RI.RIcantidad, RI.RIunidad
	FROM RECETA_INGREDIENTES AS RI
	JOIN INGREDIENTES I ON I.INid = RI.INid
	WHERE RI.RECid = @RECid
END;
GO
/****** Objeto: StoredProcedure [dbo].[SP_GetRankingRestaurantes] Fecha de script: 09/10/2026 9:24:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetRankingRestaurantes]
AS
BEGIN
	SELECT R.RESid, R.RESnombre, AVG(RV.RVpuntuacion) AS MediaPuntuacion
	FROM RESTAURANTES AS R 
	JOIN RESTAURANTES_VISITADOS RV ON RV.RESid = R.RESid
	GROUP BY R.RESid, R.RESnombre
	ORDER BY MediaPuntuacion DESC;
END;
GO
/****** Objeto: StoredProcedure [dbo].[SP_GetRecetaById] Fecha de script: 09/10/2026 9:24:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* ===== RECETAS (corregido) ===== */
CREATE   PROCEDURE [dbo].[SP_GetRecetaById] @RECid INT
AS BEGIN
    SET NOCOUNT ON;
    SELECT * FROM RECETAS WHERE RECid = @RECid;
END
GO
/****** Objeto: StoredProcedure [dbo].[SP_GetREcetas] Fecha de script: 09/10/2026 9:24:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetREcetas]
AS
BEGIN
    SELECT * FROM RECETAS;
END;
GO
/****** Objeto: StoredProcedure [dbo].[SP_GetRecetasPorCategoria] Fecha de script: 09/10/2026 9:24:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetRecetasPorCategoria]
	@CAid INT
AS
BEGIN
	SELECT RECid, RECtitulo, RECdificultad
	FROM RECETAS
	WHERE CAid = @CAid;
END;
GO
/****** Objeto: StoredProcedure [dbo].[SP_GetRestauranteById] Fecha de script: 09/10/2026 9:24:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_GetRestauranteById] @RESid INT AS
BEGIN SET NOCOUNT ON; SELECT * FROM RESTAURANTES WHERE RESid = @RESid; END
GO
/****** Objeto: StoredProcedure [dbo].[SP_GetRestaurantes] Fecha de script: 09/10/2026 9:24:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_GetRestaurantes] AS
BEGIN SET NOCOUNT ON; SELECT * FROM RESTAURANTES ORDER BY RESnombre; END
GO
/****** Objeto: StoredProcedure [dbo].[SP_GetUsuarioByEmail] Fecha de script: 09/10/2026 9:24:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_GetUsuarioByEmail] @email VARCHAR(100) AS
BEGIN SET NOCOUNT ON; SELECT * FROM USUARIOS WHERE USemail = @email; END
GO
/****** Objeto: StoredProcedure [dbo].[SP_GetUsuarioById] Fecha de script: 09/10/2026 9:24:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_GetUsuarioById] @USid INT AS
BEGIN SET NOCOUNT ON; SELECT USid, USnombre, USemail, USfechaalta FROM USUARIOS WHERE USid = @USid; END
GO
/****** Objeto: StoredProcedure [dbo].[SP_GetUsuarios] Fecha de script: 09/10/2026 9:24:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* ===== USUARIOS (nunca se devuelve USpassword salvo en GetByEmail para el login) ===== */
CREATE   PROCEDURE [dbo].[SP_GetUsuarios] AS
BEGIN SET NOCOUNT ON; SELECT USid, USnombre, USemail, USfechaalta FROM USUARIOS; END
GO
/****** Objeto: StoredProcedure [dbo].[SP_GetVisitasUsuario] Fecha de script: 09/10/2026 9:24:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetVisitasUsuario]
	@USid INT
AS
BEGIN
	SELECT R.RESnombre, RV.RVpuntuacion, RV.RVcomentario, RV.RVfecha
	FROM RESTAURANTES_VISITADOS AS RV
	JOIN RESTAURANTES AS R ON R.RESid = RV.RESid
	WHERE RV.USid = @USid;
END;
GO
/****** Objeto: StoredProcedure [dbo].[SP_InsertCategoria] Fecha de script: 09/10/2026 9:24:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_InsertCategoria] @nombre VARCHAR(100), @descripcion VARCHAR(255) = NULL AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO CATEGORIAS (CAnombre, CAdescripcion) VALUES (@nombre, @descripcion);
    SELECT SCOPE_IDENTITY() AS id;
END
GO
/****** Objeto: StoredProcedure [dbo].[SP_InsertFavorito] Fecha de script: 09/10/2026 9:24:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[SP_InsertFavorito] @USid INT, @RECid INT AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO FAVORITOS_RECETAS (USid, RECid) VALUES (@USid, @RECid);
END
GO
/****** Objeto: StoredProcedure [dbo].[SP_InsertIngrediente] Fecha de script: 09/10/2026 9:24:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_InsertIngrediente] @nombre VARCHAR(100) AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO INGREDIENTES (INnombre) VALUES (@nombre);
    SELECT SCOPE_IDENTITY() AS id;
END
GO
/****** Objeto: StoredProcedure [dbo].[SP_InsertIngredienteReceta] Fecha de script: 09/10/2026 9:24:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_InsertIngredienteReceta]
	@RECid INT,
	@INid INT,
	@cantidad DECIMAL(6,2),
	@unidad VARCHAR(50)
AS
BEGIN
	INSERT INTO RECETA_INGREDIENTES(RECid, INid, RIcantidad, RIunidad)
	VALUES ( @RECid, @INid, @cantidad, @unidad);
END;
GO
/****** Objeto: StoredProcedure [dbo].[SP_InsertReceta] Fecha de script: 09/10/2026 9:24:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_InsertReceta]
	@titulo VARCHAR(150),
	@descripcion TEXT,
	@imagen VARCHAR(255),
	@tiempo INT,
	@dificultad VARCHAR(50),
	@USid INT,
	@CAid INT
AS
BEGIN
	INSERT INTO RECETAS (RECtitulo, RECdescripcion, RECimagen, RECtiempo, RECdificultad, USid, CAid)
	VALUES (@titulo, @descripcion, @imagen, @tiempo, @dificultad, @USid, @CAid);
END;
GO
/****** Objeto: StoredProcedure [dbo].[SP_InsertRestaurante] Fecha de script: 09/10/2026 9:24:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* ===== RESTAURANTES =====
   Tu SP_InsertRestaurante tenía parámetros más grandes que las columnas
   (200/300 vs 100/255). Lo redefino con los tamaños reales y que devuelva el id. */
CREATE   PROCEDURE [dbo].[SP_InsertRestaurante]
    @nombre VARCHAR(100), @direccion VARCHAR(255) = NULL, @tipo VARCHAR(100) = NULL AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO RESTAURANTES (RESnombre, RESdireccion, REStipo) VALUES (@nombre, @direccion, @tipo);
    SELECT SCOPE_IDENTITY() AS id;
END
GO
/****** Objeto: StoredProcedure [dbo].[SP_InsertUsuario] Fecha de script: 09/10/2026 9:24:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_InsertUsuario]
	@nombre VARCHAR(100),
	@email VARCHAR(150),
	@password VARCHAR(100)

AS
BEGIN 
	INSERT INTO USUARIOS (USnombre, USemail, USpassword, USfechaalta)
	VALUES (@nombre, @email, @password, CONVERT(date, GETDATE()));
END;
GO
/****** Objeto: StoredProcedure [dbo].[SP_InsertVisita] Fecha de script: 09/10/2026 9:24:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_InsertVisita]
	@USid INT,
	@RESid INT,
	@puntuacion INT,
	@comentarios VARCHAR(500)
AS
BEGIN 
	INSERT INTO RESTAURANTES_VISITADOS(USid, RESid, RVpuntuacion, RVcomentario, RVfecha)
	VALUES (@USid, @RESid, @puntuacion, @comentarios, CONVERT(date, GETDATE()));
END;
GO
/****** Objeto: StoredProcedure [dbo].[SP_UpdateCategoria] Fecha de script: 09/10/2026 9:24:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_UpdateCategoria] @CAid INT, @nombre VARCHAR(100), @descripcion VARCHAR(255) = NULL AS
BEGIN
    SET NOCOUNT ON;
    UPDATE CATEGORIAS SET CAnombre = @nombre, CAdescripcion = @descripcion WHERE CAid = @CAid;
    SELECT @@ROWCOUNT AS filas;
END
GO
/****** Objeto: StoredProcedure [dbo].[SP_UpdateIngrediente] Fecha de script: 09/10/2026 9:24:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_UpdateIngrediente] @INid INT, @nombre VARCHAR(100) AS
BEGIN
    SET NOCOUNT ON;
    UPDATE INGREDIENTES SET INnombre = @nombre WHERE INid = @INid;
    SELECT @@ROWCOUNT AS filas;
END
GO
/****** Objeto: StoredProcedure [dbo].[SP_UpdateIngredienteReceta] Fecha de script: 09/10/2026 9:24:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[SP_UpdateIngredienteReceta]
    @RECid INT, @INid INT, @cantidad DECIMAL(10,2), @unidad VARCHAR(50)
AS BEGIN
    SET NOCOUNT ON;
    UPDATE RECETA_INGREDIENTES SET RIcantidad = @cantidad, RIunidad = @unidad
    WHERE RECid = @RECid AND INid = @INid;
    SELECT @@ROWCOUNT AS filas;
END
GO
/****** Objeto: StoredProcedure [dbo].[SP_UpdateReceta] Fecha de script: 09/10/2026 9:24:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[SP_UpdateReceta]
    @RECid INT, @titulo VARCHAR(150), @descripcion VARCHAR(MAX),
    @imagen VARCHAR(255), @tiempo INT, @dificultad VARCHAR(50), @CAid INT
AS BEGIN
    SET NOCOUNT ON;
    UPDATE RECETAS
    SET RECtitulo = @titulo, RECdescripcion = @descripcion, RECimagen = @imagen,
        RECtiempo = @tiempo, RECdificultad = @dificultad, CAid = @CAid
    WHERE RECid = @RECid;
    SELECT @@ROWCOUNT AS filas;
END
GO
/****** Objeto: StoredProcedure [dbo].[SP_UpdateRestaurante] Fecha de script: 09/10/2026 9:24:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_UpdateRestaurante]
    @RESid INT, @nombre VARCHAR(100), @direccion VARCHAR(255) = NULL, @tipo VARCHAR(100) = NULL AS
BEGIN
    SET NOCOUNT ON;
    UPDATE RESTAURANTES SET RESnombre = @nombre, RESdireccion = @direccion, REStipo = @tipo
    WHERE RESid = @RESid;
    SELECT @@ROWCOUNT AS filas;
END
GO
/****** Objeto: StoredProcedure [dbo].[SP_UpdateUsuario] Fecha de script: 09/10/2026 9:24:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_UpdateUsuario] @USid INT, @nombre VARCHAR(100), @email VARCHAR(100) AS
BEGIN
    SET NOCOUNT ON;
    UPDATE USUARIOS SET USnombre = @nombre, USemail = @email WHERE USid = @USid;
    SELECT @@ROWCOUNT AS filas;
END
GO
/****** Objeto: StoredProcedure [dbo].[SP_UpdateVisita] Fecha de script: 09/10/2026 9:24:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* ===== VISITAS (asumo clave USid + RESid) ===== */
CREATE   PROCEDURE [dbo].[SP_UpdateVisita]
    @USid INT, @RESid INT, @puntuacion INT = NULL, @comentario VARCHAR(500) = NULL AS
BEGIN
    SET NOCOUNT ON;
    UPDATE RESTAURANTES_VISITADOS SET RVpuntuacion = @puntuacion, RVcomentario = @comentario
    WHERE USid = @USid AND RESid = @RESid;
    SELECT @@ROWCOUNT AS filas;
END
GO
